.margin-20 {
    margin-top: 20px;
  }
  .form-control{
    width: 100%;
  }
  .testbox  {
    width: 800px;
    margin: 0 auto;
    background-color: whitesmoke;
  }
  
  
  .btn {
    margin-bottom: 4%;
  }

  .card-title{
    margin-left: 5em;
  }
  .btn-primary{
    background-color: green
}