<form #data="ngForm" (ngSubmit)="onSubmit(data)"  #form="ngForm">
  <a><span class="danger-color fa fa-times float-right" (click)="close()"></span></a>
   <div class="form-group" *ngFor="let item of formBody">
    <label *ngIf="!isUrl(item.value) && item.type!=='checkbox' && item.key !=='id'" for={{item.key}}>{{item.key}}</label>
    <div class="row" *ngIf="isUrl(item.value)">
      <div class="col-12 container">
        <img *ngIf="pic.length>0" style="width: 100%" src={{pic}} />
        <button (click)="filesInput.click()" class="btn btn-md btn-primary offset-3">Upload Picture</button>
        <input #filesInput name="{{item.prop}}" [(ngModel)]="pic" type="file" style="display:none" accept="image/*" (change)="previewImage($event)">
      </div>
    </div>
    <div *ngIf="!isUrl(item.value)">
        <div  [class.hide]="item.key ==='id'" *ngIf="item.type!=='checkbox'">
            <input [(ngModel)]="item.value" name="{{item.prop}}" type="{{item.type}}" class="form-control" placeholder={{item.key}}/>
        </div>    
      <div *ngIf="item.type==='checkbox'" class="form-check">
          <input ngModel [(ngModel)]="item.value" name="{{item.prop}}" type="checkbox" class="form-check-input"/>
          <label class="form-check-label" for="{{item.key}}">{{item.key}}</label>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-primary center">Submit</button>
    </div>
  </div>
</form>