<div class="login bg-theme">
  <div class="form col-4 offset-4">
    <img src="assets/images/icon.png" class="col-4 offset-4" />
    <h2 class="text-center">Login</h2>
    <br/>
    <div class="col-10 offset-1">
      <form #form="ngForm" (ngSubmit)="login()" class="form-group">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" required [(ngModel)]="form.email" #email="ngModel" id="email"
            name="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" required [(ngModel)]="form.password" #Password="ngModel"
            id="password" name="password">
        </div>
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary border-white col-4 offset-4">Login</button>
      </form>
    </div>
  </div>
</div>