<div class="form col-4 offset-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title center ">Add Event</h5>
      <form #EventForm="ngForm" novalidate (ngSubmit)="onSubmit(EventForm)">
        <div class="form-group">
          <label for="heading">Heading</label>
          <input type="text" class="form-control" name="heading" [(ngModel)]="event.heading" required #heading="ngModel">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" name="description" [(ngModel)]="event.description"></textarea>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" class="form-control" name="image" [(ngModel)]="event.image" #image="ngModel">
        </div>
        <button type="submit" class="btn btn-primary float-right" [disabled]="!EventForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>